body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(red, blue) no-repeat;
    color: white;
}

a {
    color: white;
}

#bienvenida {
    text-align: center;
    background-color: black;
    border-radius: 2em;
}