@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
}

#subir {
    transition: 0.3s;
    background-color: rgb(0, 162, 255);
    color: white;
    border-radius: 10px;
}

#subir:hover {
    transition: 0.3s;
    background-color: skyblue;
}

#posts {
    width: 1000px;
}

.post {
    margin: 30px;
}

.post_user {
    display: flex;
}

.user_name, .user_id, .post_time {
    margin: 0;
    padding-left: 10px;
}

.user_id, .post_time {
    color: gray;
}

.profile_picture {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.post_text {
    margin: 10px;
}

.post_media {
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.post_bar {
    display: flex;
    justify-content: space-around;
}