body {
    background-color: #B5F4FF;
}

header {
    background-color: #007bff;
    border-radius: 1em;
    padding: 0.5em;
}

header a {
    transition: 0.3s;
    color: white;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 1em;
    display: inline-flex;
    justify-content: center;
}

header a:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.247);
}

h1 {
    font-family: Helvetica, sans-serif, Arial;
}

#contenido {
    padding: 1em;
    background-color: rgb(115, 204, 255);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenido h2 {
    font-size: 200%;
}

#contenido p {
    font-size: 130%;
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
}

footer {
    background-color: #333;
    color: white;
    border-radius: 1em 1em 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

#imagenes {
    display: flex;
    justify-content: space-around;
}

#imagenes img {
    width: 10%;
}